<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button clear>
          SIGN UP
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button clear>
          LOG IN
        </button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let item of items">
        <button ion-button clear block (click)="expandItem(item)">News</button>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          <ion-list *ngFor="let p of pages" no-lines>
            <button ion-item menuClose (click)="openPage(p)">
              {{ p.title }}
            </button>
          </ion-list>
        </expandable>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let item of itemsOne">
        <button ion-button clear block (click)="expandedItemOne(item)">Market</button>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          <ion-list *ngFor="let p of pagesOne" no-lines>
            <button ion-item menuClose (click)="openPage(p)">
              {{ p.title }}
            </button>
          </ion-list>
        </expandable>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let item of itemsTwo">
        <button ion-button clear block (click)="expandedItemTwo(item)">Watchlist</button>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          <ion-list *ngFor="let p of pagesTwo" no-lines>
            <button ion-item menuClose (click)="openPage(p)">
              {{ p.title }}
            </button>
          </ion-list>
        </expandable>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
